
<h2 class="mb-4 text-center">Medicines</h2>

<select id="supp" class="form-control">
   
</select>
<div class="row g-4" id="cardContainer">
</div>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/js/purchase.js"></script>
}



