@{
    ViewData["Title"] = "Error";
    var errorMessage = ViewData["ErrorMessage"] as string;
}

<style>
    h1 {
        color: red;
    }
</style>

<h1>Error</h1>
<h2>Oops Error occured</h2>
<p>@errorMessage</p>