@{
    ViewData["Title"] = "Home Page";
}

<style>
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    <marquee onmouseover="this.stop();" onmouseout="this.start();" width="100%" scrollamount="10" direction="right" height="50px">
        SAMPLE MARQUEE
    </marquee>
</div>

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin"))
    {
        <div class="d-flex justify-content-evenly gap-5">
            <a class="btn btn-success shadow-lg" hidden asp-controller="Auth" asp-action="Login">Login</a>
            <a class="btn btn-danger shadow-lg" hidden asp-controller="Auth" asp-action="Register">Register</a>
        </div>
    }    
}
else
{
    <div class="d-flex justify-content-evenly gap-5">
        <a class="btn btn-success shadow-lg" hidden asp-controller="Auth" asp-action="Login">Login</a>
        <a class="btn btn-danger shadow-lg" hidden asp-controller="Auth" asp-action="Register">Register</a>
    </div>
}


<script src="~/lib/jquery/dist/jquery.min.js"></script>


