@{
    ViewData["Title"] = "Index";
}

<h1>Suppliers List</h1>

<div>
    <input type="button" value="Add Supplier" id="suppModal" class="btn btn-primary">
    <input type="text" placeholder="Search..." id="stxt" class="form-control" />
</div>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Address</th>
            <th>CreatedAt</th>
            <th>CreatedBy</th>
            <th>ModifiedAt</th>
            <th>ModifiedBy</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="supTable">
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="SuppForm">
                    <div>
                        <input type="hidden" name="SupplierId" id="SupplierId" />
                    </div>
                    Name <input type="text" name="Name" id="Name" class="form-control" />
                    Contact <input type="text" name="Contact" id="Contact" class="form-control" />
                    Address <input type="text" name="Address" id="Address" class="form-control" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="savebtn">Save</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/supplier.js"></script>

}
